extends layout

block content

    //MAIN
    #mainContainer

    // Wrapper
    #wrapper

        div.panel.panel-default
            h1.panel-heading #{username}
            p.panel-body #{firstname} #{lastname}
    // WRAPPER